<%= form_for(@user_story) do |f| %>
  <% if @user_story.errors.any? %>
    <div class="alert-message block-message error">
      <h4><%= pluralize(@user_story.errors.count, "error") %> prohibited this user_story from being saved:</h4>

      <ul>
      <% @user_story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <br />
  <% end %>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, :class => 'span6' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, :class => 'span6 description' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :acceptance_criteria %>
    <div class="input">
      <%= f.text_area :acceptance_criteria, :class => 'span6 description' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :priority %>
    <div class="input">
      <%= f.text_field :priority, :class => 'span2' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :estimation %>
    <div class="input">
      <%= f.text_field :estimation, :class => 'span2' %>
    </div>
  </div>
  <% unless @user_story.new_record? %>
    <div class="clearfix">
      <%= f.label :users, "Assignees" %>
      <div class="input">
        <%= f.select :users, @users.map { |u| [u.name, u.id] },
        { selected: @user_story.users.map(&:id) },
        { multiple: true, size: @users.size } %>
        <p class="help-inline">To deselect items or select multiple items please hold the CTRL key</p>
      </div>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit :class => 'btn success' %>
  </div>
<% end %>

