<ul class="breadcrumb">
  <li<% if title == "All User Stories"%> class="active"<% end %>>
    <% title_of_page = 'All (' + UserStory.all.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "index" %>
  <span class="divider">|</span>
  </li>
  <li<% if title == "Current Sprint"%> class="active"<% end %>>
    <% title_of_page = 'Current Sprint (' +
      UserStory.current_sprint_stories.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "current_sprint_list" %>
  <span class="divider">|</span>
  </li>
  <li<% if title == "Completed"%> class="active"<% end %>>
    <% title_of_page = 'Completed (' +
      UserStory.completed_stories.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "completed_stories_list" %>
  <span class="divider">|</span>
  </li>
  <li<% if title == "Work in Progress"%> class="active"<% end %>>
        <% title_of_page = 'In Progress (' +
      UserStory.work_in_progress_stories.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "work_in_progress_list" %>
  <span class="divider">|</span>
  </li>
  <li<% if title == "Backlog"%> class="active"<% end %>>
        <% title_of_page = 'Backlog (' +
      UserStory.backlog.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "backlog_list" %>
  <span class="divider">|</span>
  </li>
  <li<% if title == "Non estimated"%> class="active"<% end %>>
    <% title_of_page = 'Non estimated (' +
      UserStory.non_estimated.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "non_estimated_list" %>
  <span class="divider">|</span>
  </li>
  <li<% if title == "Need Feedback"%> class="active"<% end %>>
    <% title_of_page = 'Need Feedback (' +
      UserStory.requesting_feedback.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "requesting_feedback_list" %>
  <span class="divider">|</span>
  </li>
  <li<% if title == "Deleted"%> class="active"<% end %>>
    <% title_of_page = 'Deleted (' +
      UserStory.deleted.size.to_s + ')' %>
    <%= link_to title_of_page, controller: "user_stories",
                                action: "deleted_list" %>
  </li>
</ul>

<div class="header_space"></div>

