<div id="userstory_info_box">
  <%= render 'sprints/infobox_close_button'%>
  <div id="tabs">
    <ul>
       <li><%= link_to 'Create a new User Story', '#tabs-1' %></li>
    </ul>
    <div id="tabs-1">
      <div id="userstory_new_box_content">
      <%= form_for @user_story, :html=> { class: 'input_advice_form' } do |f| %>

        <div id="userstory_new_box_column1">

          <%= f.text_field :name, id: 'userstory_name',
                                  value: 'Name*',
                                  title: 'Name*',
                                  class: 'input_advice' %>
          <br />
          Priority: <%= f.text_field :priority, class: 'span1 input_numeric_small' %>
          Estimation: <%= f.text_field :estimation, class: 'span1 input_numeric_small' %>
        </div>
        <div id="userstory_new_box_column2">
          <%= f.text_area :description,
                          class: 'span4 input_advice',
                          value: 'Description',
                          title: 'Description' %>

        </div>
        <div id="userstory_new_box_column3">
          <%= f.text_area :acceptance_criteria,
                          class: 'span4 input_advice',
                          value: 'Acceptance Criteria',
                          title: 'Acceptance Criteria' %>
        </div>
        <div id="userstory_button">
          <%= f.submit 'Save User Story', class: 'btn success' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

</div>

