<div class="user_story_box">
  <div class="user_story_box_users">
    <% user_story.users.each do |user| %>
      <div class="user_story_box_gravatar">
        <%= link_to tooltip_gravatar_for(user, size: 20), user %>
      </div>
    <% end %>
  </div>

  <div class="user_story_box_information">
    <%= render partial: 'user_stories/user_story_information',
               locals: { user_story: user_story } %>
  </div>

  <div class="user_story_box_options">
    <% case user_story.status %>
    <% when "active" %>
      <% if user_story.users.include? current_user %>
        <button class="pause_button"></button>
      <% end %>
      <button class="complete_button">Complete</button>
    <% when "inactive" %>
      <div class="start_button">
        <%= button_to "Start", {controller: 'user_stories', action: 'start',
                                id: user_story.id }, class: 'btn success' %>
      </div>
    <% when "completed" %>
      <button class="restart_button">Restart</button>
    <% when "suspended" %>
      <button class="continue_button"></button>
      <button class="complete_button">Complete</button>

    <% end %>
  </div>

  <div class="expand_link">
    <div class="short_description_link">
      <span class="ui-icon ui-icon-carat-1-s"></span>
      <%= link_to 'Show Description', '#' %>
    </div>
    <div class="short_description_link" style="display:none">
      <span class="ui-icon ui-icon-carat-1-n"></span>
      <%= link_to 'Hide Description', '#' %>
    </div>
  </div>
  <% case user_story.status %>
  <% when "active" %>
    <div class="completebutton"><%= button_to "Complete", {controller: 'user_stories', action: 'complete',
    id: user_story.id }, class: 'btn success' %></div>

      <div class="pausebutton"><%= button_to "Pause", {controller: 'user_stories', action: 'pause', id: user_story.id}, class: 'btn primary' %></div>


  <% when "inactive" %>
    <div class="startbutton"><%= button_to "Start", {controller: 'user_stories', action: 'start', id: user_story.id }, class: 'btn success' %></div>

  <% when "completed" %>
    <div class="restartbutton"><%= button_to "Restart", {controller: 'user_stories', action: 'start', id: user_story.id }, class: 'btn primary' %></div>

  <% when "suspended" %>
    <div class="continuebutton"><%= button_to "Continue", {controller: 'user_stories', action: 'start', id: user_story.id }, class: 'btn primary' %></div>
  <% end %>


</div>

