<div class="user_story_box">
  <% case user_story.status %>
  <% when "active" %>
    <div class="completebutton"><%= button_to "Complete", {controller: 'user_stories', action: 'complete',
    id: user_story.id }, method: "put", class: 'btn success' %></div>
    <% if user_story.user == current_user %>
      <div class="pausebutton"><%= button_to "Pause", {controller: 'user_stories', action: 'pause', id: user_story.id}, method: "put", class: 'btn primary' %></div>
    <% end %>

  <% when "inactive" %>
    <div class="startbutton"><%= button_to "Start", {controller: 'user_stories', action: 'start', id: user_story.id }, method: "put", class: 'btn success' %></div>

  <% when /completed|suspended/ %>
    <div class="restartbutton"><%= button_to "Restart", {controller: 'user_stories', action: 'start', id: user_story.id }, method: "put", class: 'btn primary' %></div>
  <% end %>

  <%= render partial: 'user_stories/user_story_information', locals: { user_story: user_story } %>
</div>

