
<%= link_to user_story.name, user_story_path(user_story), target:"_blank" %>
<% user_story.users.each do |user| %>
  <%= link_to mini_gravator_for(user), user %>
<% end %>
<div class='short_description' style="display: none">
  <%= user_story.short_description %>
</div>
<br />
<%= link_to 'more...', '#', class: 'short_description_link' %>
<%= link_to 'less', '#', class: 'short_description_link', style: "display:none" %>

