<div class="user_story_box">
  <% if user_story.status == "active" %>
    <div class="completebutton"><%= button_to "Complete", {controller: 'user_stories', action: 'complete', id: user_story.id, user_id: current_user}, method: "put", class: 'btn' %></div>
  <% end %>
  <% if user_story.user == current_user %>
      <div class="pausebutton"><%= button_to "Pause", {controller: 'user_stories', action: 'pause', id: user_story.id, user_id: current_user}, method: "put", class: 'btn' %></div>
  <% end %>
  <% if user_story.status == "inactive" %>
    <div class="startbutton"><%= button_to "Start", {controller: 'user_stories', action: 'start', id: user_story.id, user_id: current_user}, method: "put", class: 'btn success' %></div>
  <% end %>
  <% if user_story.status == "completed" %>
    <div class="restartbutton"><%= button_to "Restart", {controller: 'user_stories', action: 'start', id: user_story.id, user_id: current_user}, method: "put", class: 'btn' %></div>
  <% end %>

  <%= user_story.name %>
</div>

