<%= link_to '<< All User Stories', user_stories_path %> |
<%= link_to 'Tracker', current_sprint_path %>

<%= render partial: 'details_page', locals: { user_story: @user_story,
                                                   management_allowed: true } %>

<div id="comments">
  <% @user_story.comments.each do |comment| %>
    <%= render 'comments/comment_entry', comment: comment %>
  <% end %>
</div>

<%= render 'comments/comment_field', user_story: @user_story, comment: @comment %>

