<p>
  <b>Name:</b>
  <%= @user_story.name %>
</p>

<p>
  <b>Description:</b>
  <%= @user_story.description %>
</p>

<p>
  <b>Acceptance criteria:</b>
  <%= @user_story.acceptance_criteria %>
</p>

<p>
  <b>Priority:</b>
  <%= @user_story.priority %>
</p>

<p>
  <b>Estimation:</b>
  <%= @user_story.estimation %>
</p>

<p>
  <b>Assignees:</b>
  <% if @user_story.user %>
    <%= @user_story.user.name %>
  <% else %>
    No user assigned
  <% end %>
</p>

<p>
  <% if @user_story.status == "inactive" %>
    <%= button_to "Start", {action: 'start', id: @user_story.id, user_id: 1}%>
  <% elsif @user_story.status == "completed" %>
    <%= button_to "Re-Start", {action: 'start', id: @user_story.id, user_id: 1}%>
  <% elsif @user_story.status == "active" %>
    <%= button_to "Complete", {action: 'complete', id: @user_story.id, user_id: 1}%>
  <%end%>
</p>


<%= link_to 'Edit', edit_user_story_path(@user_story) %> |
<%= link_to 'Back', user_stories_path %>

