<p>
  <b>Name:</b>
  <%= @user_story.name %>
</p>

<p>
  <b>Description:</b>
  <%= @user_story.description %>
</p>

<p>
  <b>Acceptance criteria:</b>
  <%= @user_story.acceptance_criteria %>
</p>

<p>
  <b>Priority:</b>
  <%= @user_story.priority %>
</p>

<p>
  <b>Estimation:</b>
  <%= @user_story.estimation %>
</p>

<p>
  <b>Work Effort:</b>
  <%= @user_story.printable_work_effort %>
</p>

<p>
  <b>Assignees:</b>
  <% if @user_story.users.empty? %>
    No user assigned
  <% else %>
    <%= @user_story.users.map(&:name).join(', ') %>
  <% end %>
</p>

<% if @user_story.status == UserStory::DELETED %>
  <%= button_to 'Resurrecet', { controller: :user_stories, action: :resurrect,
                id: @user_story.id }, class: "btn success" %>
<% else %>
  <%= button_to 'Delete', @user_story, confirm: 'Are you sure?', method: :delete,
              class: "btn danger" %>
<% end %>
<%= button_to 'Edit', edit_user_story_path(@user_story),
              class: "btn primary", method: :get %>
<%= button_to 'All user stories', user_stories_path,
              class: "btn primary", method: :get %>

<% @user_story.comments.each do |comment| %>
  <%= render partial: 'comments/comment_entry', locals: { comment: comment } %>
<% end %>

<%= render partial: 'comments/comment_field', locals: { user_story: @user_story,
                                                        comment: @comment } %>

