<p id="notice"><%= notice %></p>

<p>
  <b>User story:</b>
  <%= @comment.user_story_id %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user_id %>
</p>

<p>
  <b>Date:</b>
  <%= @comment.date %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
