<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert-message block-message error">
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <br />
  <% end %>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name, :class => 'span6' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :email %>
    <div class="input">
      <%= f.text_field :email, :class => 'span6' %>
    </div>
  </div>
  <div class="clearfix">
    <label>Picture</label>
    <div class="input">
      <p class= "span6">
        If you want to have a nice picture displayed please go to
        <%= link_to "Gravatar", "http://gravatar.com/" %> upload a picture and
        add the email address used here.
      </p>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, :class => 'span6 description' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password, :class => 'span6' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password_confirmation %>
    <div class="input">
      <%= f.password_field :password_confirmation, :class => 'span6' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit form_action_for_user(@user), :class => 'btn success' %>
  </div>
<% end %>

