<br />
<table class="bordered-table zebra-striped">
  <tr>
    <th class="span6">Name</th>
    <th>Email</th>
    <th>Description</th>
    <th></th>
    <th></th>
  </tr>
<% if type == :accept
  users_to_render = @unaccepted_users
else
  users_to_render = @users
end %>

<% users_to_render.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.description %></td>
    <% if type == :index %>
      <%= render partial: 'index_buttons', locals: { user: user} %>
    <% else %>
      <%= render partial: 'accept_buttons', locals: { user: user} %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

