<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Description:</b>
  <%= @user.description %>
</p>

<% if current_user? @user %>
  <%= button_to 'Edit', edit_user_path(@user),
                class: "btn primary", method: :get %>
<% end %>

