<div class="user_box span8">
  <div class="user_details">
	  <%= gravatar_for @user %>
    <h3><%= @user.name %></h3>
    <%= @user.email %>
    <br /><br />
    <p>
      <strong>Description</strong>
      <br />
      <%= @user.description %>
    </p>
  </div>

<% if current_user? @user %>
  <%= button_to 'Edit', edit_user_path(@user),
                class: "btn primary", method: :get %>
<% end %>

</div>
<%= link_to 'Show all Users', users_path %>

