<%= render 'header' %>
<div class="row">
   <% if current_project.has_current_sprint? %>
    <%= render 'sprints/stop_sprint_button' %>
  <% end %>
  <div id="box_current_sprint" class="span8 userstory_box">
   <%= render partial: 'box_header', locals: { title: "CURRENT SPRINT" } %>
   <% if current_project.has_current_sprint? %>
    <div class="user_stories_container">
     <% @user_stories_current_sprint.each do |user_story| %>
       <%= render partial: 'user_stories/user_story_planning_box', locals: { user_story: user_story, backlog: false } %>
     <% end %>
     </div>
    <% else %>
     <div class="box_no_current_sprint">
      There is no current sprint. Please start a new one.
      <div class="button"><%= button_to "Start Sprint", new_sprint_url, method: "get", class: 'btn success' %></div>
     </div>
    <% end %>
    <%= render 'box_footer' %>
  </div>

  <div id="box_backlog" class="span8 userstory_box">
    <%= render partial: 'box_header', locals: { title: "BACKLOG" } %>
    <div class="user_stories_container">
    <% @user_stories_in_backlog.each do |user_story| %>
      <%= render partial: 'user_stories/user_story_planning_box', locals: { user_story: user_story, backlog: true } %>
    <% end %>
    </div>
    <%= render 'box_footer' %>
  </div>

</div>

