<%= render 'header' %>
<div class="row">
  <% if current_project.has_current_sprint? %>
    <%if current_project.current_sprint.expired? %>
      <div class="button"><%= button_to "Stop Sprint", {controller: 'sprints', action: 'stop'}, method: "put", class: 'btn danger' %></div>
    <%else%>
      <div class="button"><%= button_to "Stop Sprint", {controller: 'sprints', action: 'stop'}, confirm: "The end date of the current sprint is not reached yet, do you still want to stop it?", method: "put", class: 'btn danger' %></div>
    <%end%>
  <%else%>
    <div class="button"><%= button_to "Start Sprint", {controller: 'sprints', action: 'start'}, method: "put", class: 'btn success' %></div>
  <% end %>
  <div id="box_current_sprint" class="span8 userstory_box">
    <div class="userstory_box_header">
      CURRENT SPRINT
    </div>
    <div class="user_stories_container">
    <% @user_stories_current_sprint.each do |user_story| %>
      <%= render partial: 'user_stories/user_story_planning_box', locals: { user_story: user_story, backlog: false } %>
    <% end %>
    </div>
  </div>

  <div id="box_backlog" class="span8 userstory_box">
    <div class="userstory_box_header">
      BACKLOG
    </div>
    <div class="user_stories_container">
    <% @user_stories_in_backlog.each do |user_story| %>
      <%= render partial: 'user_stories/user_story_planning_box', locals: { user_story: user_story, backlog: true } %>
    <% end %>
    </div>
  </div>

</div>

