<div class="current_user_story_content">
  <div class="row">
    <div class="span3 user_story_box_info">
      <%= render partial: 'user_stories/story_status', locals: { user_story: user_story } %>
      <% unless user_story.priority.nil? %>
        <span class="label"><%= user_story.priority %></span> (Priority)<br />
      <% end %>
      <% unless user_story.estimation.nil? %>
        <span class="label notice"><%= user_story.estimation %></span> (Estimation)
      <% end %>
    </div>
    <div class="span9">
      <strong>Description</strong>
      <div class="user_story_box_description">
        <%= user_story.description %>
      </div>
    </div>
    <div class="span3">
      <strong>Participants</strong>
      <div class="infobox_users">
      <% user_story.users.each do |user| %>
        <div class="user_story_infobox_gravatar">
          <%= link_to tooltip_gravatar_for(user, size: 30), user %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span3 user_story_box_links">
      <%= link_to 'Show', user_story %> |
      <%= link_to 'Edit', edit_user_story_path(user_story) %>
    </div>
    <div class="span9">
      <% case user_story.status %>
      <% when "active" %>
        <%= render 'user_stories/pause_button', user_story: user_story  %>
      <% when "suspended" %>
        <%= render 'user_stories/continue_button', user_story: user_story %>
      <% end %>
      <%= render 'user_stories/complete_button', user_story: user_story %>
    </div>
    <div class="span3 dropdown">
      <ul class="dropdown_list span3" user_story="<%=user_story.id%>">
        <%= render 'partner_dropdown_list', user_story: user_story,
                                            partners: partners %>
      </ul>
      <div>Partner <span class="ui-icon ui-icon-triangle-1-s"/></div>
    </div>
  </div>
</div>

