<%= form_for(@sprint) do |f| %>
  <% if @sprint.errors.any? %>
    <div class="alert-message block-message error">
      <h4><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h4>

      <ul>
      <% @sprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :number %>
    <div class="input">
      <%= f.number_field :number, :class => 'span2' %>
    </div>
  </div>
<!--  <div class="clearfix">
    <%= f.label :start_date %>
    <div class="input">
      <%= f.datetime_select :start_date, :class => 'span6' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :end_date %>
    <div class="input">
      <%= f.datetime_select :end_date, :class => 'span6' %>
    </div>
  </div> -->
  <div class="clearfix">
    <%= f.label :velocity %>
    <div class="input">
      <%= f.number_field :velocity, :class => 'span2' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Start Sprint", :class => 'btn success' %>
  </div>
<% end %>

