<%= form_for(@sprint) do |f| %>
  <% if @sprint.errors.any? %>
    <div class="alert-message block-message error">
      <h4><%= pluralize(@sprint.errors.count, "error") %> prohibited this sprint from being saved:</h4>

      <ul>
      <% @sprint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="clearfix">
    <%= f.label :number, "Number*" %>
    <div class="input span6">
      <% if !@sprint.new_record?
        proposed_number = @sprint.number
      elsif @sprint.new_record? and !Sprint.all.empty?
        proposed_number = Sprint.last.number + 1
      else
        proposed_number = 1
      end %>
      <%= f.number_field :number, class: 'span2 input_numeric input_advice',
                                  value: proposed_number,
                                  title: proposed_number %>
      <div class="numeric_validation_error">Number has to be numeric!</div>
    </div>
  </div>
<!--  <div class="clearfix">
    <%= f.label :start_date %>
    <div class="input">
      <%= f.datetime_select :start_date, :class => 'span6' %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :end_date %>
    <div class="input">
      <%= f.datetime_select :end_date, :class => 'span6' %>
    </div>
  </div> -->
  <div class="clearfix">
    <%= f.label :velocity %>
    <div class="input span6">
      <% if @sprint.new_record? and !Sprint.all.empty? and
      Sprint.last.actual_velocity > 0
        value = Sprint.last.actual_velocity.to_s
      else
        value = ""
      end %>
      <%= f.number_field :velocity, class: 'span2 input_numeric input_advice',
                                    value: value,
                                    title: value %>
      <div class="numeric_validation_error">Velocity has to be numeric!</div>
    </div>
  </div>

  <div class="clearfix">
    <%= f.label :description %>
    <div class="input">
      <%= f.text_area :description, class: 'span6 description' %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "#{form_action_for_sprint @sprint} Sprint", class: 'btn success' %>
  </div>
<% end %>

