<h2>Sprints</h2>
<br />
<table class="bordered-table zebra-striped">
  <tr>
    <th>Number</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Velocity</th>
  </tr>

<% @sprints.each do |sprint| %>
  <tr>
    <td><%= link_to sprint.number, sprint %></td>
    <td><%= sprint.start_date %></td>
    <td><%= sprint.end_date %></td>
    <td><%= sprint.velocity %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to 'New Sprint', new_sprint_path, method: :get, class: "btn success" %>

