<h2>Sprint  <%= @sprint.number %></h2>
<br />

<p>
  <b>Start date:</b>
  <%= @sprint.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @sprint.end_date %>
</p>

<p>
  <b>Velocity:</b>
  <%= @sprint.velocity %>
</p>

<p>
  <b>Description:</b>
  <%= @sprint.description %>
</p>

<p>
  <b>Burndown Chart:</b> <br />
  <%= image_tag(@sprint.burndown)%>
</p>

<h3>Related User Stories</h3>


<%= link_to 'Back to Sprint Overview', sprints_path %>

