<h2>Sprint  <%= @sprint.number %></h2>
<br />

<p>
  <b>Start date:</b>
  <%= @sprint.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @sprint.end_date %>
</p>

<p>
  <b>Planned Velocity:</b>
  <%= @sprint.velocity %>
</p>

<p>
  <b>Current Velocity:</b>
  <%= @sprint.actual_velocity %> (currently burned story points)
</p>

<p>
  <b>Description:</b>
  <%= @sprint.description %>
</p>

<p>
  <b>Burndown Chart:</b> <br />
  <%= image_tag(@sprint.burndown_graph)%>
  <% if @sprint.user_stories_estimated != @sprint.user_stories %>
    <br />Please keep in mind that there are user stories without an estimation.
    <br />Therefore this graph is not accurate because these stories are not considered.
  <% end %>
</p>

<h3>Related User Stories</h3>

<%= button_to 'Edit', edit_sprint_path(@sprint),
              class: "btn primary", method: :get %>
<%= button_to 'Sprint Overview', sprints_path,
              class: "btn primary", method: :get %>

