<p id="notice"><%= notice %></p>

<p>
  <b>Titel:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Repository url:</b>
  <%= @project.repository_url %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', current_sprint_path %>

