<p id="notice"><%= notice %></p>

<p>
  <b>Titel:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Repository url:</b>
  <%= @project.repository_url %>
</p>

<p>
  <b>Average Velocity:</b>
  <%= @project.average_velocity %>
</p>


<%= button_to 'Edit', edit_project_path(@project),
              class: "btn primary", method: :get %>

