<!DOCTYPE html>
<html>
<head>
  <title>TracketyTrack</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topbar">
      <div class="fill">
        <div class="container">
          <%= link_to 'TracketyTrack', root_path ,class: 'brand'%>

          <ul class="nav">
            <li class="active"><%= link_to 'Home', root_path %></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><%= link_to 'Register', new_user_path unless signed_in? %></li>
          </ul>
          <% if signed_in? %>
            <%= form_for(:session, url: signout_path, class: "pull-right") do |f| %>
                <%= f.submit "Logout" %>
            <% end %>
          <% else %>
            <%= form_for(:session, url: sessions_path, class: "pull-right") do |f| %>
                <%= f.text_field :email, class: "input-small", placeholder: "Email" %>
                <%= f.password_field :password, class: "input-small", placeholder: "Password" %>
                <%= f.submit "Sign in" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="header-space">

        </div>
        <div class="row">
          <div class="span16">
          <% flash.each do |key, value| %>
            <div class="alert-message <%= key %>"><%= value %></div>
          <% end %>
            <%= yield %>
          </div>
        </div>
      </div>

      <footer>
        <%= debug(params) if Rails.env.development? %>
      </footer>

    </div> <!-- /container -->

</body>
</html>

